body, html{
    background-color: rgb(119, 110, 241);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
}
.menu{
    width: 70vw;
    background-color: rgb(196, 196, 196);
    color: rgb(65, 65, 65);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    margin-top: 10px;
}
.opcoes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2em;
}
.botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    width: 7em;
    height: 7em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.botoes:hover{
    background-color: rgb(223, 223, 199);
}
.botoes:active{
    box-shadow: inset 2px 2px 6px rgba(0,0,0,0.4);
    transform: translateY(4px);
}
.emoji{
    font-size: 3em;
}
.jogar{
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 5px;
    background-color: rgb(119, 110, 241);
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
}
.jogar:hover{
    background-color: rgb(87, 76, 233);
}
.res{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero{
    width: 50vw;
    height: 30vh;
    
}
h1, p, h2{
    margin: 0;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}